::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Asegura que la navbar esté por encima de otros elementos */
  background-color: #fff;
  /* Fondo blanco para la navbar */
  border-bottom: 1px solid #ddd;
  /* Borde inferior para separar la navbar del contenido */
  display: flex;
  align-items: center;
  transition: top 0.3s;
  /* Transición suave para ocultar la navbar */
}

.navbar.hidden {
  top: -120px;
  /* Oculta la navbar al hacer scroll */
}

.navbar-brand img.logo {
  height: 80px;
  margin-right: 1rem;
}

.navbar-title {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.form-inline {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.form-inline .form-control {
  width: 100%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 120px;
  /* Ajusta el margen superior para evitar que el contenido quede debajo de la navbar */
}

.product-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.product-item h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.product-item p {
  font-size: 1rem;
  color: #555;
}

@media (max-width: 768px) {
  .navbar-brand img.logo {
    display: block;
    margin: 0 auto 1rem;
  }

  .navbar-title {
    text-align: center;
    margin-top: 1rem;
  }

  .product-list {
    margin-top: 120px;
    /* Ajusta el margen superior para evitar que el contenido quede debajo de la navbar */
  }
}